@model WebApplication1.Models.ProductSalesPlans

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Places</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuarterInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuarterInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActualImplementationVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualImplementationVolume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedImplementationVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlannedImplementationVolume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
